main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.header__promo{
    margin-bottom: 30px;
    width: 100%;
    height: 500px;
    background: url('./../../img/header-background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: rgb(250, 250, 250);
    position: relative;
}

.header__promo::after{
    content: "Лучшие товары для вашего дома";
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 50px;
    font-weight: 800;
    color: rgb(47, 45, 45);
}